.home__menu {
  background: #ede6db;
  text-align: center;
  padding: 55px 0;
}

.home__menu__tag-container {
  margin: 15px 0 30px 0;
}

.home__menu__tag {
  padding: 5px 15px;
  border: 1px solid #bb6b24;
  margin: 0 15px;
}

.home__menu__item {
  text-align: left;
  margin-bottom: 35px;
}

.home__menu__item__title {
  letter-spacing: 3px;
  font-size: 17px;
}

.home__menu__item__price {
  position: absolute;
  right: 10px;
  top: 5px;
  letter-spacing: 3px;
  color: rgb(206 147 65);
  font-weight: bold;
}
